@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
body{
    font-family: 'PT Sans', sans-serif;
}
.fluid-container{
    padding-left:5rem;
    padding-right:5rem;
}