@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
    font-family: "Montserrat", sans-serif;
}

:root {
    --primary-color: #4957ed;
    --secondary-color: #F3F4F6;
    --dark-gray: #6B7280;
}

hr {
    margin: 3rem 0rem;
}

li:hover {
    font-weight: bold;
}

a:-webkit-any-link {
    font-weight: bold;
    cursor: pointer;
}

a:hover {
    font-weight: bold;

}

.container {
    padding-left: 1rem;
    padding-right: 1rem;

}

.container-c {
    max-width: 600px;
    margin: auto;

}



.link-primary {
    background-color: var(--primary-color);
    border-radius: 1rem;
    color: white;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
}


.link-secondary {
    color: var(--primary-color);
    border-radius: 1rem;
    border: 1px solid var(--primary-color);
    text-decoration: none;
    padding: 0.5rem 0.5rem;
}

.list-unordered {
    list-style: none;
}

.list-inline {
    display: inline;
    padding: 0rem 0.5rem;
    text-decoration: none;

}

.right {
    display: inline;
    padding: 0rem 0.5rem;

}

.pills {
    text-align: right;

}

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
}

.navigation .nav-pills {
    text-align: center;
}


.link {
    color: white;
    display: inline;
    text-decoration: none;
}

.navigation .link-active {
    font-weight: bold;
}


.hero {
    max-width: 625px;
    margin: auto;
    padding: 0.25rem 0rem;
    text-align: center;
}

.hero .hero-image {
    max-width: 350px;
    display: block;
    margin: auto;
    padding-top: 1.15rem;

}

.hea {
    text-align: center;

}

.hero .hea .poster {
    color: var(--primary-color);
}

.mature h1 {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 0rem;
}


.jack h1 {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 0rem;
}

.jack {
    background-color: var(--secondary-color);
    padding-bottom: 1.15rem;
    text-align: center;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;



}

.mature {
    background-color: white;
    text-align: center;
    padding-bottom: 1.15rem;
}


.footer {
    background-color: var(--primary-color);
    padding: 0.5rem;
    text-align: center;
    color: white;
    border-top-left-radius: 1rem;

}

.footer.link {
    color: white;
}

.footer ul {
    padding-inline-start: 0px;
}

.icon {
    font-weight: bold;
    font-size: 23px;

}

.icon ul li .fa {
    color: #000000;
    font-size: 30px;
    line-height: 50px;
    transition: .5s;
    padding: 1rem;
}

.icon ul li .fa:hover {
    color: #ffffff;
}

.fill {
    padding-top: 1.25rem;

}

/* For Blog section*/
.jill {
    background-color: white;
    text-align: left;
    padding-bottom: 1.15rem;
}

.jill h1 {
    text-align: left;
    padding-top: 0.5rem;
    padding-bottom: 0rem;
}

.tom {
    background-color: var(--secondary-color);
    text-align: left;
    padding-bottom: 1.15rem;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.tom h1 {
    text-align: left;
    padding-top: 0.5rem;
    padding-bottom: 0rem;
}

link link-primary:hover {
    font-weight: bold;
}

/* For Projects section*/
.s-link {
    padding-top: 2rem;
    text-align: left;
}